<!-- <ul class="dictators">
  <li *ngFor=" let element of Elements"
      [class.selected]="element === selectedDic"
      (click)="onSelect(Element)">
    <div id="firstName">
         Name: 
         {{Elements[0].symbol}}
        </div>
       

  </li>
</ul> -->
<table id="ElementTable" class="table" [class.selected]="element === selectedEle"
(click)="onSelect(element)">
  
 
    <!-- Row 1 -->
<tr>
    <th>Group</th> <th>1 Alkali metals</th><th>2 Alkaline earth metals</th><th>3</th><th>4</th><th>5</th><th>6</th><th>7</th><th>8</th><th>9</th><th>10</th><th>11</th><th>12</th><th>13</th><th>14</th><th>15 Pnicto­gens</th><th>16 Chal­co­gens</th><th>17 Halo­gens</th><th>18 Noble gases</th>
</tr>
<!-- Row 2 --> 
<tr>
<th>1</th> <td><div class="elementField card yel"><h4>{{Elements[0].symbol}}</h4>{{Elements[0].atomicNumber}}</div> </td><td colspan="16"></td> <td><div class="elementField card aqua"><h4>{{Elements[1].symbol}}</h4>{{Elements[1].atomicNumber}}</div></td>

</tr>
<!-- Row 3 -->
<tr>
<th>2</th> <td><div class="elementField card red"><h4>{{Elements[2].symbol}}</h4>{{Elements[2].atomicNumber}}</div></td>
<td><div class="elementField card orange"><h4>{{Elements[3].symbol}}</h4>{{Elements[3].atomicNumber}}</div></td>
<td colspan="10"></td>
<td><div class="elementField card dgreen"><h4>{{Elements[4].symbol}}</h4>{{Elements[4].atomicNumber}}</div></td>
<td><div class="elementField card yel"><h4>{{Elements[5].symbol}}</h4>{{Elements[5].atomicNumber}}</div></td>
<td><div class="elementField card yel"><h4>{{Elements[6].symbol}}</h4>{{Elements[6].atomicNumber}}</div></td>
<td><div class="elementField card yel"><h4>{{Elements[7].symbol}}</h4>{{Elements[7].atomicNumber}}</div></td>
<td><div class="elementField card yel"><h4>{{Elements[8].symbol}}</h4>{{Elements[8].atomicNumber}}</div></td>
<td><div class="elementField card aqua"><h4>{{Elements[9].symbol}}</h4>{{Elements[9].atomicNumber}}</div></td>


</tr>
<!-- Row 4 -->
<tr>
  <th>3</th> <td><div class="elementField card red"><h4>{{Elements[10].symbol}}</h4>{{Elements[10].atomicNumber}}</div></td>
  <td><div class="elementField card orange"><h4>{{Elements[11].symbol}}</h4>{{Elements[11].atomicNumber}}</div></td>
  <td colspan="10"></td>
  <td><div class="elementField card dgrey"><h4>{{Elements[12].symbol}}</h4>{{Elements[12].atomicNumber}}</div></td>
  <td><div class="elementField card  dgreen"><h4>{{Elements[13].symbol}}</h4>{{Elements[13].atomicNumber}}</div></td>
  <td><div class="elementField card yel"><h4>{{Elements[14].symbol}}</h4>{{Elements[14].atomicNumber}}</div></td>
  <td><div class="elementField card yel"><h4>{{Elements[15].symbol}}</h4>{{Elements[15].atomicNumber}}</div></td>
  <td><div class="elementField card yel"><h4>{{Elements[16].symbol}}</h4>{{Elements[16].atomicNumber}}</div></td>
  <td><div class="elementField card aqua"><h4>{{Elements[17].symbol}}</h4>{{Elements[17].atomicNumber}}</div></td>
  
  
  </tr>
  <!-- Row 5 -->
<tr>
  <th>4</th> <td><div class="elementField card red"><h4>{{Elements[18].symbol}}</h4>{{Elements[18].atomicNumber}}</div></td>
  <td><div class="elementField card orange"><h4>{{Elements[19].symbol}}</h4>{{Elements[19].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[20].symbol}}</h4>{{Elements[20].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[21].symbol}}</h4>{{Elements[21].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[22].symbol}}</h4>{{Elements[22].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[23].symbol}}</h4>{{Elements[23].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[24].symbol}}</h4>{{Elements[24].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[25].symbol}}</h4>{{Elements[25].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[26].symbol}}</h4>{{Elements[26].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[27].symbol}}</h4>{{Elements[27].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[28].symbol}}</h4>{{Elements[28].atomicNumber}}</div></td>
  <td><div class="elementField card dgrey"><h4>{{Elements[29].symbol}}</h4>{{Elements[29].atomicNumber}}</div></td>
  <td><div class="elementField card dgrey"><h4>{{Elements[30].symbol}}</h4>{{Elements[30].atomicNumber}}</div></td>
  <td><div class="elementField card  dgreen"><h4>{{Elements[31].symbol}}</h4>{{Elements[31].atomicNumber}}</div></td>
  <td><div class="elementField card  dgreen"><h4>{{Elements[32].symbol}}</h4>{{Elements[32].atomicNumber}}</div></td>
  <td><div class="elementField card yel"><h4>{{Elements[33].symbol}}</h4>{{Elements[33].atomicNumber}}</div></td>
  <td><div class="elementField card yel"><h4>{{Elements[34].symbol}}</h4>{{Elements[34].atomicNumber}}</div></td>
  <td><div class="elementField card aqua"><h4>{{Elements[35].symbol}}</h4>{{Elements[35].atomicNumber}}</div></td>
  
  
  </tr>

    <!-- Row 6 -->
<tr>
  <th>5</th> <td><div class="elementField card red"><h4>{{Elements[36].symbol}}</h4>{{Elements[36].atomicNumber}}</div></td>
  <td><div class="elementField card orange"><h4>{{Elements[37].symbol}}</h4>{{Elements[37].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[38].symbol}}</h4>{{Elements[38].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[39].symbol}}</h4>{{Elements[39].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[40].symbol}}</h4>{{Elements[40].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[41].symbol}}</h4>{{Elements[41].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[42].symbol}}</h4>{{Elements[42].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[43].symbol}}</h4>{{Elements[43].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[44].symbol}}</h4>{{Elements[44].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[45].symbol}}</h4>{{Elements[45].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[46].symbol}}</h4>{{Elements[46].atomicNumber}}</div></td>
  <td><div class="elementField card dgrey"><h4>{{Elements[47].symbol}}</h4>{{Elements[47].atomicNumber}}</div></td>
  <td><div class="elementField card dgrey"><h4>{{Elements[48].symbol}}</h4>{{Elements[48].atomicNumber}}</div></td>
  <td><div class="elementField card dgrey"><h4>{{Elements[49].symbol}}</h4>{{Elements[49].atomicNumber}}</div></td>
  <td><div class="elementField card dgreen"><h4>{{Elements[50].symbol}}</h4>{{Elements[50].atomicNumber}}</div></td>
  <td><div class="elementField card dgreen"><h4>{{Elements[51].symbol}}</h4>{{Elements[51].atomicNumber}}</div></td>
  <td><div class="elementField card yel"><h4>{{Elements[52].symbol}}</h4>{{Elements[52].atomicNumber}}</div></td>
  <td><div class="elementField card aqua"><h4>{{Elements[53].symbol}}</h4>{{Elements[53].atomicNumber}}</div></td>
  
  
  </tr>
     <!-- Row 7 -->
<tr>
  <th>6</th> <td><div class="elementField card red"><h4>{{Elements[54].symbol}}</h4>{{Elements[54].atomicNumber}}</div></td>
  <td><div class="elementField card orange"><h4>{{Elements[55].symbol}}</h4>{{Elements[55].atomicNumber}}</div></td>
  <td><div class="elementField card plum"><h4>{{Elements[56].symbol}}</h4>{{Elements[56].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[71].symbol}}</h4>{{Elements[71].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[72].symbol}}</h4>{{Elements[72].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[73].symbol}}</h4>{{Elements[73].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[74].symbol}}</h4>{{Elements[74].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[75].symbol}}</h4>{{Elements[75].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[76].symbol}}</h4>{{Elements[76].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[77].symbol}}</h4>{{Elements[77].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[78].symbol}}</h4>{{Elements[78].atomicNumber}}</div></td>
  <td><div class="elementField card dgrey"><h4>{{Elements[79].symbol}}</h4>{{Elements[79].atomicNumber}}</div></td>
  <td><div class="elementField card dgrey"><h4>{{Elements[80].symbol}}</h4>{{Elements[80].atomicNumber}}</div></td>
  <td><div class="elementField card dgrey"><h4>{{Elements[81].symbol}}</h4>{{Elements[81].atomicNumber}}</div></td>
  <td><div class="elementField card dgrey"><h4>{{Elements[82].symbol}}</h4>{{Elements[82].atomicNumber}}</div></td>
  <td><div class="elementField card dgrey"><h4>{{Elements[83].symbol}}</h4>{{Elements[83].atomicNumber}}</div></td>
  <td><div class="elementField card dgrey"><h4>{{Elements[84].symbol}}</h4>{{Elements[84].atomicNumber}}</div></td>
  <td><div class="elementField card aqua"><h4>{{Elements[85].symbol}}</h4>{{Elements[85].atomicNumber}}</div></td>
  
  
  </tr>

     <!-- Row 8 -->
<tr>
  <th>7</th> <td><div class="elementField card red"><h4>{{Elements[86].symbol}}</h4>{{Elements[86].atomicNumber}}</div></td>
  <td><div class="elementField card orange"><h4>{{Elements[87].symbol}}</h4>{{Elements[87].atomicNumber}}</div></td>
  <td><div class="elementField card purple"><h4>{{Elements[88].symbol}}</h4>{{Elements[88].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[103].symbol}}</h4>{{Elements[103].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[104].symbol}}</h4>{{Elements[104].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[105].symbol}}</h4>{{Elements[105].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[106].symbol}}</h4>{{Elements[106].atomicNumber}}</div></td>
  <td><div class="elementField card pink"><h4>{{Elements[107].symbol}}</h4>{{Elements[107].atomicNumber}}</div></td>
  <td><div class="elementField card lgrey"><h4>{{Elements[108].symbol}}</h4>{{Elements[108].atomicNumber}}</div></td>
  <td><div class="elementField card lgrey"><h4>{{Elements[109].symbol}}</h4>{{Elements[109].atomicNumber}}</div></td>
  <td><div class="elementField card lgrey"><h4>{{Elements[110].symbol}}</h4>{{Elements[110].atomicNumber}}</div></td>
  <td><div class="elementField card lgrey"><h4>{{Elements[111].symbol}}</h4>{{Elements[111].atomicNumber}}</div></td>
  <td><div class="elementField card lgrey"><h4>{{Elements[112].symbol}}</h4>{{Elements[112].atomicNumber}}</div></td>
  <td><div class="elementField card lgrey"><h4>{{Elements[113].symbol}}</h4>{{Elements[113].atomicNumber}}</div></td>
  <td><div class="elementField card lgrey"><h4>{{Elements[114].symbol}}</h4>{{Elements[114].atomicNumber}}</div></td>
  <td><div class="elementField card lgrey"><h4>{{Elements[115].symbol}}</h4>{{Elements[115].atomicNumber}}</div></td>
  <td><div class="elementField card lgrey"><h4>{{Elements[116].symbol}}</h4>{{Elements[116].atomicNumber}}</div></td>
  <td><div class="elementField card lgrey"><h4>{{Elements[117].symbol}}</h4>{{Elements[117].atomicNumber}}</div></td>
  </tr>
  <!-- Row 9 -->
<tr>

  <td colspan="4"></td>
  <td><div class="elementField card plum"><h4>{{Elements[57].symbol}}</h4>{{Elements[57].atomicNumber}}</div></td>
  <td><div class="elementField card plum"><h4>{{Elements[58].symbol}}</h4>{{Elements[58].atomicNumber}}</div></td>
  <td><div class="elementField card plum"><h4>{{Elements[59].symbol}}</h4>{{Elements[59].atomicNumber}}</div></td>
  <td><div class="elementField card plum"><h4>{{Elements[60].symbol}}</h4>{{Elements[60].atomicNumber}}</div></td>
  <td><div class="elementField card plum"><h4>{{Elements[61].symbol}}</h4>{{Elements[61].atomicNumber}}</div></td>
  <td><div class="elementField card plum"><h4>{{Elements[62].symbol}}</h4>{{Elements[62].atomicNumber}}</div></td>
  <td><div class="elementField card plum"><h4>{{Elements[63].symbol}}</h4>{{Elements[63].atomicNumber}}</div></td>
  <td><div class="elementField card plum"><h4>{{Elements[64].symbol}}</h4>{{Elements[64].atomicNumber}}</div></td>
  <td><div class="elementField card plum"><h4>{{Elements[65].symbol}}</h4>{{Elements[65].atomicNumber}}</div></td>
  <td><div class="elementField card plum"><h4>{{Elements[66].symbol}}</h4>{{Elements[66].atomicNumber}}</div></td>
  <td><div class="elementField card plum"><h4>{{Elements[67].symbol}}</h4>{{Elements[67].atomicNumber}}</div></td>
  <td><div class="elementField card plum"><h4>{{Elements[68].symbol}}</h4>{{Elements[68].atomicNumber}}</div></td>
  <td><div class="elementField card plum"><h4>{{Elements[69].symbol}}</h4>{{Elements[69].atomicNumber}}</div></td>
  <td><div class="elementField card plum"><h4>{{Elements[70].symbol}}</h4>{{Elements[70].atomicNumber}}</div></td>
  </tr>

    <!-- Row 10 -->
<tr>

  <td colspan="4"></td>
  <td><div class="elementField card purple"><h4>{{Elements[89].symbol}}</h4>{{Elements[89].atomicNumber}}</div></td>
  <td><div class="elementField card purple"><h4>{{Elements[90].symbol}}</h4>{{Elements[90].atomicNumber}}</div></td>
  <td><div class="elementField card purple"><h4>{{Elements[91].symbol}}</h4>{{Elements[91].atomicNumber}}</div></td>
  <td><div class="elementField card purple"><h4>{{Elements[92].symbol}}</h4>{{Elements[92].atomicNumber}}</div></td>
  <td><div class="elementField card purple"><h4>{{Elements[93].symbol}}</h4>{{Elements[93].atomicNumber}}</div></td>
  <td><div class="elementField card purple"><h4>{{Elements[94].symbol}}</h4>{{Elements[94].atomicNumber}}</div></td>
  <td><div class="elementField card purple"><h4>{{Elements[95].symbol}}</h4>{{Elements[95].atomicNumber}}</div></td>
  <td><div class="elementField card purple"><h4>{{Elements[96].symbol}}</h4>{{Elements[96].atomicNumber}}</div></td>
  <td><div class="elementField card purple"><h4>{{Elements[97].symbol}}</h4>{{Elements[97].atomicNumber}}</div></td>
  <td><div class="elementField card purple"><h4>{{Elements[98].symbol}}</h4>{{Elements[98].atomicNumber}}</div></td>
  <td><div class="elementField card purple"><h4>{{Elements[99].symbol}}</h4>{{Elements[99].atomicNumber}}</div></td>
  <td><div class="elementField card purple"><h4>{{Elements[100].symbol}}</h4>{{Elements[100].atomicNumber}}</div></td>
  <td><div class="elementField card purple"><h4>{{Elements[101].symbol}}</h4>{{Elements[101].atomicNumber}}</div></td>
  <td><div class="elementField card purple"><h4>{{Elements[102].symbol}}</h4>{{Elements[102].atomicNumber}}</div></td>
  </tr>
</table>

<!-- </div> -->

